table {
    border-collapse: collapse;
    width: 70%;
}
table, th, td {
    border: 2px solid black;
    text-align: center;
}

th, td {
    height: 30px;
}

.addButton, .removeButton {
    background-color: silver;
    border: none;
    width: 100px;
    height: 30px;
    margin: 5px 0px 0px 25%;
    box-sizing: border-box;    
}

.removeButton{
    margin-left: 0%;
}


.addButton:hover {
    background-color: gray;
}

.addButton:active {
    background-color: lightblue;
}

.removeButton {
    background-color: silver;
    border: none;
    width: 100px;
    height: 30px;
    box-sizing: border-box;    
}

.removeButton:hover {
    background-color: gray;
}

.removeButton:active {
    background-color: lightblue;
}