body {
    background-color: #8e2020;
    color: white;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 15% 0px 0px 10%;
}
table, th, td {
    border: 2px solid white;
    text-align: center;
}

th, td {
    height: 30px;
}

.addButton, .removeButton {
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
    margin: 5px 0px 0px 35%;
    box-sizing: border-box;    
}

.removeButton{
    margin-left: 0%;
}


.addButton:hover {
    background-color: silver;
}

.addButton:active {
    background-color: lightblue;
}

.removeButton {
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
    box-sizing: border-box;    
}

.removeButton:hover {
    background-color: silver;
}

.removeButton:active {
    background-color: lightblue;
}