body {

    background-color: #191919;
}

button {

    width: 20%;
    height: 30%;
    color: white;
    border: 3px solid darkred;
    font-size: 20pt;
    background-color: transparent;
}

div {

    color: white;
    position: absolute;
    margin: 6% 0px 0px 44%;
    font-size: 20pt;
    text-align: center;
}

.opponentName {

    margin-top: 10px;
    margin-left: 37%;
}

.opponent {

    margin: 220px 0% 0% 1%;
    text-align: left;
}

.legend {

    position: absolute;
    color: white;
    margin: 80px 0px 0px 1%;
    font-size: 16pt;
    white-space: pre-line;
}

.gameField {

    width: 50%;
    height: 50%;
    margin: 10% 0px 0px 30%;
    text-align: left;
}

#reset {

    width: 100px;
    height: 40px;
    background-color: darkred;
    box-shadow: 4px 3px 10px 0px red;
    font-size: 10pt;
    border: none;
}
#reset:hover {

    background-color: #a10000;
}

#reset:active {
    
    background-color: #c30000;
}